@page "/Adults"
@using HandlePeopleWithLogIn.Data
@using HandlePeopleWithLogIn.Models

@inject NavigationManager NavigationManager
@inject ICloudService DataService

<h3>Adults</h3>
<p> 
    Filter by ID: <input type="number" @oninput="@(arg => FilterById(arg))" style="width: 50px"/>
</p>
<p> 
    Filter by Firstname: <input type="text" @oninput="@(arg => FilterByFirstName(arg))" style="width: 150px"/>
</p>
<p> 
    Filter by Lastname: <input type="text" @oninput="@(arg => FilterByLastName(arg))" style="width: 150px"/>
</p>

@if (adultsToShow == null)
    {
    <p>
        <em>Loading...</em>
    </p>
    } 
    else if (!adultsToShow.Any())
    {
        <p>
            <em>No Adult items exist. Please add some.</em>
        </p>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Job</th>
                <th>Sex</th>
                <th>Remove</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in adultsToShow)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.JobTitle.JobTitle</td>
                    <td>@item.Sex</td>
                    <td>
                        <AuthorizeView>
                            <NotAuthorized>
                                <button @onclick="@(() => RemoveAdult(item.Id))" disabled>
                                    <i class="oi oi-trash" style="color: red"/>
                                </button>
                            </NotAuthorized>
                            <Authorized>
                                <button @onclick="@(() => RemoveAdult(item.Id))">
                                    <i class="oi oi-trash" style="color: red"/>
                                </button>
                            </Authorized>
                        </AuthorizeView>
                    </td>
                    <td>
                        <AuthorizeView>
                            <NotAuthorized>
                                <button @onclick="@(() => Edit(item.Id))" disabled>
                                    <i class="oi oi-pencil" style="color: #1b6ec2"/>
                                </button>
                            </NotAuthorized>
                            <Authorized>
                                <button @onclick="@(() => Edit(item.Id))">
                                    <i class="oi oi-pencil" style="color: #1b6ec2"/>
                                </button>
                            </Authorized>
                        </AuthorizeView>
                    </td>

                </tr>
            }
            </tbody>
        </table>
    }
@code {
    private IList<Adult> allAdults;
    private IList<Adult> adultsToShow;

    private int? filterById;
    private string filterByFirstName;
    private string filterByLastName;

    protected override async Task OnInitializedAsync()
    {
        allAdults = await DataService.GetAdultAsync();
        adultsToShow = allAdults;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        allAdults = await DataService.GetAdultAsync();
        adultsToShow = allAdults;
    }

    private void RemoveAdult(int Id)
    {
        Adult adultToRemove = allAdults.First(t => t.Id == Id);
        DataService.RemoveAdultAsync(Id);
        allAdults.Remove(adultToRemove);
        adultsToShow.Remove(adultToRemove);
    }

    private void FilterById(ChangeEventArgs changeEventArgs)
    {
        filterById = null;
        try
        {
            filterById = int.Parse(changeEventArgs.Value.ToString());
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
        ExecuteFilter();
    }
    
    private void FilterByFirstName(ChangeEventArgs changeEventArgs)
    {
        filterByFirstName = null;
        try
        {
            filterByFirstName = changeEventArgs.Value.ToString();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
        ExecuteFilter();
    }
    
    private void FilterByLastName(ChangeEventArgs changeEventArgs)
    {
        filterByLastName = null;
        try
        {
            filterByLastName = changeEventArgs.Value.ToString();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
        ExecuteFilter();
    }

    private void ExecuteFilter()
    {
        adultsToShow = allAdults.Where(t => 
            (filterById != null && t.Id == filterById || filterById == null) &&
            (filterByFirstName != null && t.FirstName == filterByFirstName || filterByFirstName == null) && 
            (filterByLastName != null && t.LastName == filterByLastName || filterByLastName == null)
            ).ToList();
    }

    private void Edit(int id)
    {
        NavigationManager.NavigateTo($"EditAdults/{id}");
    }
}